<div class="config">
    <div class="wrapper config__inner">
        <div class="row">
            <label for="card-background">Kolor tła fiszki</label>
            <input type="color" name="card-background" id="card-background" ng-model='ctrl.cardBackground'>
        </div>
        <div class="row">
            <label for="card-color">Kolor tekstu fiszki</label>
            <input type="color" name="card-color" id="card-color" ng-model='ctrl.cardColor'>
        </div>
        <div class="row">
            <label for="page-background">Kolor tła strony</label>
            <input type="color" name="page-background" id="page-background" ng-model='ctrl.pageBackground'>
        </div>
        <div class="row">
            <label for="page-color">Kolor tekstu strony</label>
            <input type="color" name="page-color" id="page-color" ng-model='ctrl.pageColor'>
        </div>
    </div>
</div>
