<div class="panel wrapper">
    <div class="clock" ng-show="ctrl.clock.start != 0">{{ ctrl.clock.current - 3600000 - ctrl.clock.start | date:'HH:mm:ss'}}</div>
        <div class="flip-wrapper">
            <div class="flip-container" ng-repeat="card in ctrl.cards"
                ng-class="{active: card.active && ctrl.clock.start != 0, hover: card.hover} " 
                ng-click="ctrl.toggleHover($index)">
                <div class="flipper">
                    <div class="front">
                        <div class="flip__content" ng-class="{image: card.image, white: card.imageText}" 
                           ng-style="card.image && {'background-image': 'url('+card.image+')'}">
                            <p>{{card.question}}</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="flip__content" ng-style="{background: ctrl.cardBackground, color: ctrl.cardColor}">
                            <p>{{card.answer}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flip-list">
            <div class="nav">
                <a class="next danger" ng-click="ctrl.testCard(false)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>    
                <a class="next success" ng-click="ctrl.testCard(true)">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </a>
                <a class="start primary" ng-click="ctrl.startTest()" ng-show="ctrl.clock.start == 0">
                    START
                </a>
            </div>
            <div class="dots">
                <a ng-repeat="card in ctrl.cards" 
                    ng-class="{
                        active: card.active && ctrl.clock.start != 0, 
                        success: card.success==true, danger: card.success==false
                    }"></a>
            </div>
        </div>
    </div>